
//Defaults
$bodywidth: 1024px;
$bodyheight: $bodywidth * 0.8;
$bgcolor: white;
$margindefault: 1%;

$titlecolor: black;
$titlefontfamily: "Freestyle Script", "Urdu Typesetting", "Rage Italic";
$pcolor: maroon;
$fontsizedefault: 1em;
$fontfamilydefault: "Myriad Pro", "DejaVu Sans Condensed";

$box: 450px;
$boxpic: 300px;
$boxlarge: 1400px;

/*Links*/
$bglink: #D1D1D1;
$visited: black;

/*Pictures borders*/
$border: dotted 2px;
$visible: indianred;
$subtle: wheat;

/*Sitemap settings: accessible or basic*/
$sitemap: basic;



